<footer class="footer">
  <div class="footer-container">
    <nav class="footer-nav">
      <ul class="footer-menu">
        <li><a routerLink="/legales">Legales</a></li>
        <li><a href="#">Términos y condiciones</a></li>
        <li><a href="#">Contáctanos</a></li>
      </ul>
    </nav>
    <div class="footer-logos">
      <a href="#"><img src="assets/icons/facebook_footer.png" alt="Facebook Logo"></a>
      <a href="#"><img src="assets/icons/instagram_footer.png" alt="Instagram Logo"></a>
      <a href="#"><img src="assets/icons/linkedin_footer.png" alt="Linkedin Logo"></a>
    </div>
    <div class="footer-copy">
      <p>© 2025 Directv. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
