.homologation-container {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header-title {
    font-size: 2em;
    color: #0072C6;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.header-divider {
    border: none;
    height: 2px;
    background-color: #66AADD;
    width: 100%;
    margin-bottom: 20px;
}

.content-text {
    font-size: 1em;
    color: #000;
    text-align: justify;
    margin-bottom: 15px;
}

a {
    color: #0072C6;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
