<div class="homologation-container">
    <h1 class="header-title">Homologación de equipo</h1>
    <hr class="header-divider">

    <p class="content-text">
        Para que tu equipo móvil pueda operar en las redes móviles de Colombia, debe estar homologado ante la Comisión de Regulación de Comunicaciones (CRC).
    </p>

    <p class="content-text">
        Si quieres verificar si tu equipo está homologado puedes consultarlo en la página web de la CRC haciendo 
        <a href="https://www.tramitescrcom.gov.co/tramites/comun/guia.xhtml?tit=&subt=&tram=XRZM2N3df+VIHF5xFuANEg==&pr1=3578LkxQ3TO3y3t5FY9/BQ==&onA=S0etv8CCdHqPI8wYF9h5dunjBO6mgmve6b6DImC05HqN+Av/dwHAizJX1tNAjX34aRgc0inXPSnx4FziqEPlYQ==" 
           target="_blank" rel="noopener noreferrer">clic aquí</a>.
    </p>

    <p class="content-text">
        Si tu equipo no está homologado, debes realizar el trámite ante la CRC. En el siguiente enlace encuentras la 
        “Guía Trámite Homologación de un Equipo Terminal Móvil”. 
        <a href="https://tramitescrcom.gov.co/tramites/comun/guia.xhtml?tit=&subt=&chain_hd=A1GE41nJn3oc734nVc8hwA==&tram=yD8u0OWVyZ0WEW7bXaxDbA==&pr1=HcjIA81G6kr37OOdSFuD8x4CSdW269PagngDS7dqg7A=&onA=S0etv8CCdHqPI8wYF9h5dlJYfvyRAr/E4RAlSzFhkqmu9rhG74UY4+cZWPNraceVk7Q7LTklGzPR4+Tqak56RQ==" 
           target="_blank" rel="noopener noreferrer">Haz clic aquí</a>.
    </p>
</div>
