.questions-container {
  max-width: 550px;
  margin: 20px auto;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: justify;
}

.faq-item {
  border-bottom: 1px solid #66AADD;
  padding: 10px 0;
}

.faq-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  
  h3 {
    color: #0072C6;  // Directv blue
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .dropdown-icon {
    font-size: 1.2em;
    color: #0072C6;
  }
}

.faq-content {
  margin-top: 10px;
  .faq-answer {
    margin-bottom: 10px;
    color: #333;
    font-size: 1em;
    white-space: pre-line;
  }
  
  .faq-sublist {
    list-style: none;
    padding-left: 20px;
    
    li {
      margin-bottom: 10px;
      h4 {
        color: #0072C6;
        font-size: 1.1em;
        margin: 0;
        font-weight: bold;
      }
      .sub-answer {
        color: #333;
        font-size: 0.95em;
        white-space: pre-line;
      }
    }
  }
}
