<div class="questions-container">
  <div class="faq-item" *ngFor="let faq of faqs; let i = index">
    <div class="faq-header" (click)="toggleFAQ(i)">
      <h3>{{ faq.question }}</h3>
      <span class="dropdown-icon">{{ faq.expanded ? '▲' : '▼' }}</span>
    </div>
    <div class="faq-content" *ngIf="faq.expanded">
      <div *ngIf="faq.answer" class="faq-answer" [innerHTML]="faq.answer"></div>
      <ul *ngIf="faq.subItems && faq.subItems.length > 0" class="faq-sublist">
        <li *ngFor="let sub of faq.subItems">
          <h4>{{ sub.question }}</h4>
          <div class="sub-answer" [innerHTML]="sub.answer"></div>
        </li>
      </ul>
    </div>
  </div>
</div>
