<div class="legales-container">
    <h1 class="legales-title">Legales</h1>
    <hr class="legales-divider" />
    <ul class="legales-list">
      <li>
        <a href="https://lov.com.co/directv/legales/Condiciones_generales_del_servicio_en_modalidad_prepago.pdf" target="_blank">
          Condiciones generales del servicio en modalidad prepago
        </a>
      </li>
      <li>
        <a href="https://lov.com.co/directv/legales/Contra_el_material_con_contenido_de_abuso_de_ninas,_ninos_y_adolescentes.pdf" target="_blank">
          Contra el material con contenido de abuso de niñas, niños y adolescentes
        </a>
      </li>
      <li>
        <a href="https://lov.com.co/directv/legales/Internet_sano.pdf" target="_blank">
          Internet sano
        </a>
      </li>
      <li>
        <a href="https://lov.com.co/directv/legales/Politicas_de_tratamiento_de_datos_personales.pdf" target="_blank">
          Políticas de tratamiento de datos personales
        </a>
      </li>
      <li>
        <a href="https://lov.com.co/directv/legales/Habeas_Data.pdf" target="_blank">
          Habeas Data
        </a>
      </li>
      <li>
        <a href="https://lov.com.co/directv/legales/Usos_prohibidos.pdf" target="_blank">
          Usos prohibidos
        </a>
      </li>
      <li>
        <a href="https://lov.com.co/directv/legales/Informacion_regulatoria_de_interes_para_el_usuario.pdf" target="_blank">
          Información regulatoria de interés para el usuario
        </a>
      </li>
      <li>
        <a href="https://lov.com.co/directv/legales/Seguridad_en_la_red.pdf" target="_blank">
          Seguridad en la red
        </a>
      </li>
      <li>
        <a href="https://lov.com.co/directv/legales/Medios_de_atencion_al_usuario.pdf" target="_blank">
          Medios de atención al usuario
        </a>
      </li>
      <li>
        <a href="https://lov.com.co/directv/legales/Autoridades_de_vigilancia_y_control.pdf" target="_blank">
          Autoridades de vigilancia y control
        </a>
      </li>
      <li>
        <a href="https://lov.com.co/directv/legales/Registro_de_numeros_excluidos.pdf" target="_blank">
          Registro de números excluidos
        </a>
      </li>
      <li>
        <a href="https://lov.com.co/directv/legales/Tiempos_de_entrega_SIM_DTV.pdf" target="_blank">
          Tiempos de entrega SIM DTV
        </a>
      </li>
    </ul>
  </div>
  