<div class="legales-container">
    <h1 class="legales-title">Legales</h1>
    <hr class="legales-divider" />
    <ul class="legales-list">
      <li>
        <a href="https://lov.com.co/directv/legales/Condiciones%20generales%20del%20servicio%20en%20modalidad%20prepago.pdf" target="_blank">
          Condiciones generales del servicio en modalidad prepago
        </a>
      </li>
      <li>
        <a href="https://lov.com.co/directv/legales/Contra%20el%20material%20con%20contenido%20de%20abuso%20de%20ni%C3%B1as,%20ni%C3%B1os%20y%20adolescentes.pdf" target="_blank">
          Contra el material con contenido de abuso de niñas, niños y adolescentes
        </a>
      </li>
      <li>
        <a href="https://lov.com.co/directv/legales/Internet%20sano.pdf" target="_blank">
          Internet sano
        </a>
      </li>
      <li>
        <a href="https://lov.com.co/directv/legales/Pol%C3%ADticas%20de%20tratamiento%20de%20datos%20personales.pdf" target="_blank">
          Políticas de tratamiento de datos personales
        </a>
      </li>
      <li>
        <a href="https://lov.com.co/directv/legales/Habeas%20Data.pdf" target="_blank">
          Habeas Data
        </a>
      </li>
      <li>
        <a href="https://lov.com.co/directv/legales/Usos%20prohibidos.pdf" target="_blank">
          Usos prohibidos
        </a>
      </li>
      <li>
        <a href="https://lov.com.co/directv/legales/Informaci%C3%B3n%20regulatoria%20de%20inter%C3%A9s%20para%20el%20usuario.pdf" target="_blank">
          Información regulatoria de interés para el usuario
        </a>
      </li>
      <li>
        <a href="https://lov.com.co/directv/legales/Seguridad%20en%20la%20red.pdf" target="_blank">
          Seguridad en la red
        </a>
      </li>
      <li>
        <a href="https://lov.com.co/directv/legales/Marcaci%C3%B3n%20e%20indicativos%20LDI%20(Larga%20Distancia%20Internacional).pdf" target="_blank">
          Marcación e indicativos LDI (Larga Distancia Internacional)
        </a>
      </li>
      <li>
        <a href="https://lov.com.co/directv/legales/Medios%20de%20atenci%C3%B3n%20al%20usuario.pdf" target="_blank">
          Medios de atención al usuario
        </a>
      </li>
      <li>
        <a href="https://lov.com.co/directv/legales/Autoridades%20de%20vigilancia%20y%20control.pdf" target="_blank">
          Autoridades de vigilancia y control
        </a>
      </li>
      <li>
        <a href="https://lov.com.co/directv/legales/Registro%20de%20n%C3%BAmeros%20excluidos.pdf" target="_blank">
          Registro de números excluidos
        </a>
      </li>
      <li>
        <a href="https://lov.com.co/directv/legales/Tiempos%20de%20entrega%20SIM%20LOV.pdf" target="_blank">
          Tiempos de entrega SIM LOV
        </a>
      </li>
    </ul>
  </div>
  