<div class="legales-container">
    <h1 class="legales-title">Legales</h1>
    <hr class="legales-divider" />
    <ul class="legales-list">
      <li>
        <a href="https://lov.com.co/directv/legales/condiciones_generales_del_servicio_en_modalidad_prepago.pdf" target="_blank">
          Condiciones generales del servicio en modalidad prepago
        </a>
      </li>
      <li>
        <a href="https://lov.com.co/directv/legales/contra_el_material_con_contenido_de_abuso_de_ninas_ninos_y_adolecentes.pdf" target="_blank">
          Contra el material con contenido de abuso de niñas, niños y adolescentes
        </a>
      </li>
      <li>
        <a href="https://lov.com.co/directv/legales/internet_sano.pdf" target="_blank">
          Internet sano
        </a>
      </li>
      <li>
        <a href="https://lov.com.co/directv/legales/politica_de_tratamiento_de_datos_personales_lov.pdf" target="_blank">
          Políticas de tratamiento de datos personales
        </a>
      </li>
      <li>
        <a href="https://lov.com.co/directv/legales/habeas_data.pdf" target="_blank">
          Habeas Data
        </a>
      </li>
      <li>
        <a href="https://lov.com.co/directv/legales/usos_prohibidos.pdf" target="_blank">
          Usos prohibidos
        </a>
      </li>
      <li>
        <a href="https://lov.com.co/directv/legales/informacion_regulatoria_de_interes_para_el_usuario.pdf" target="_blank">
          Información regulatoria de interés para el usuario
        </a>
      </li>
      <li>
        <a href="https://lov.com.co/directv/legales/seguridad_en_la_red.pdf" target="_blank">
          Seguridad en la red
        </a>
      </li>
      <li>
        <a href="https://lov.com.co/directv/legales/medios_de_atencion_al_usuario.pdf" target="_blank">
          Medios de atención al usuario
        </a>
      </li>
      <li>
        <a href="https://lov.com.co/directv/legales/autoridades_de_vigilancia_y_control.pdf" target="_blank">
          Autoridades de vigilancia y control
        </a>
      </li>
      <li>
        <a href="https://tramitescrcom.gov.co/tramites/comun/guia.xhtml?tit=&subt=&tram=ebhrEbS9qKn04bkBEBApXQ==&pr1=3578LkxQ3TO3y3t5FY9/BQ==&onA=S0etv8CCdHqPI8wYF9h5dtdTbijZh1Ii32LohKmsEd6aN1b0ia4DPDtKgFkbFjDn" target="_blank">
          Registro de números excluidos
        </a>
      </li>
      <li>
        <a href="https://lov.com.co/directv/legales/tiempos_de_entrega_sim.pdf" target="_blank">
          Tiempos de entrega SIM DTV
        </a>
      </li>
      <li>
        <a href="https://lov.com.co/directv/legales/autorizacion_de_tratamiento_de_datos.pdf" target="_blank">
          Autorización de tratamiento de datos
        </a>
      </li>
      <li>
        <a href="https://lov.com.co/directv/legales/terminos_y_condiciones_transaccionales.pdf" target="_blank">
          Términos y condiciones transaccionales
        </a>
      </li>
    </ul>
  </div>
  