<div class="carousel-container">
  <button class="carousel-control prev" (click)="prevSlide()">&#9664;</button>

  <div class="carousel" href="https://directv.paymentez.com/pospago#no-back-button">
    <div *ngFor="let plan of plans; let i = index" class="plan-card" [ngClass]="getClass(i)">
      <div class="card-header">
        <h3>{{ plan.name }}</h3>
        <span class="vigencia">Vigencia: {{ plan.duration }}</span>
      </div>
      <div class="card-body">
        <div class="valor">
          <h4>{{ plan.price }}</h4>
        </div>
        <ul class="features-list">
          <li *ngFor="let feature of plan.features">
            <img [src]="'assets/icons/' + feature.icon" [alt]="feature.label" class="feature-icon">
            <span class="feature-text"><strong>{{ feature.label }}:</strong> {{ feature.value }}</span>
          </li>
        </ul>
        <a href="https://directv.paymentez.com/pospago#no-back-button" class="submit-button">
          Comprar
        </a>
      </div>
    </div>
  </div>

  <button class="carousel-control next" (click)="nextSlide()">&#9654;</button>
</div>
