<div class="handset-container">
    <div class="header-text">
      <h1 class="header-title">Procesos con tu dispositivo móvil</h1>
      <hr class="header-divider">
    </div>
    <div class="content-text">
      <p>
        Para <a routerLink="/theft">bloquear tu equipo</a>, sigue el proceso de bloqueo.
      </p>
      <p>
        Para consultar tu equipo, haz <a href="https://www.imeicolombia.com.co/" target="_blank" rel="noopener noreferrer">clic aquí</a>.
      </p>
      <p>
       Para registrar tu equipo marca *888 y luego digita a opción 3.
      </p>
    </div>
  </div>
  