<!-- Encabezado del componente -->
<div class="header-text">
    <h1 class="header-title">Retomar Proceso de Portabilidad</h1>
    <p class="header-description">
      Este proceso es para retomar la solicitud de portabilidad si la habías dejado pendiente y ya recibiste el NIP del operador donante.
    </p>
    <hr class="header-divider">
  </div>
  
  <!-- Formulario principal -->
  <div class="form-container">
    <form #continueForm="ngForm" (ngSubmit)="onContinueProcess()">
 <!-- Campo: Número Telefónico a Portar -->
<div class="form-group">
    <label for="phoneNumber">Número Telefónico a Portar</label>
    <input
      type="text"
      id="phoneNumber"
      name="phoneNumber"
      [(ngModel)]="phoneNumberToPort"
      #evaluateNumbertoPort="ngModel"
      required
      minlength="10"
      maxlength="12"
      pattern="^[0-9]*$"
      (keypress)="onlyNumber($event)"
    />
    <div class="error" *ngIf="evaluateNumbertoPort.touched && evaluateNumbertoPort.invalid">
      <small *ngIf="evaluateNumbertoPort.errors?.['required']">El número es obligatorio.</small>
      <small *ngIf="evaluateNumbertoPort.errors?.['minlength']">El número debe tener al menos 10 dígitos.</small>
      <small *ngIf="evaluateNumbertoPort.errors?.['maxlength']">El número no puede tener más de 12 dígitos.</small>
      <small *ngIf="evaluateNumbertoPort.errors?.['pattern']">Solo se permiten números.</small>
    </div>
  </div>
  
  <!-- Campo: Número DirecTV -->
  <div class="form-group">
    <label for="phoneNumberCurrent">Número DIRECTV</label>
    <input
      type="text"
      id="phoneNumberCurrent"
      name="phoneNumberCurrent"
      [(ngModel)]="CurrentPhoneNumber"
      #EvaluateCurrentPhoneNumber="ngModel"
      required
      minlength="10"
      maxlength="12"
      pattern="^[0-9]*$"
      (keypress)="onlyNumber($event)"
    />
    <div class="error" *ngIf="EvaluateCurrentPhoneNumber.touched && EvaluateCurrentPhoneNumber.invalid">
      <small *ngIf="EvaluateCurrentPhoneNumber.errors?.['required']">El número es obligatorio.</small>
      <small *ngIf="EvaluateCurrentPhoneNumber.errors?.['minlength']">El número debe tener al menos 10 dígitos.</small>
      <small *ngIf="EvaluateCurrentPhoneNumber.errors?.['maxlength']">El número no puede tener más de 12 dígitos.</small>
      <small *ngIf="EvaluateCurrentPhoneNumber.errors?.['pattern']">Solo se permiten números.</small>
    </div>
  </div>
  
      <div class="buttons">
        <button type="submit" [disabled]="continueForm.invalid" class="submit-button">Continuar Proceso</button>
        <button type="button" (click)="onCancel()" class="cancel-button">Cancelar</button>
      </div>
    </form>
  </div>
  