<div class="terminos-container">
    <h1 class="terminos-title">Términos y condiciones</h1>
    <hr class="terminos-divider">
    <ul class="terminos-list">
      <li>
        <a href="https://lov.com.co/directv/documents/terminos_y_condiciones_de_la_oferta_comercial.pdf" target="_blank" rel="noopener noreferrer">
          Términos y condiciones de la oferta comercial
        </a>
      </li>
      <li>
        <a href="https://lov.com.co/directv/documents/terminos_y_condiciones_uso_sitio_web.pdf" target="_blank" rel="noopener noreferrer">
          Términos y condiciones de uso sitio web
        </a>
      </li>
    </ul>
  </div>
  