/* Encabezado del componente */
.header-text {
  width: 100%;
  max-width: 600px;       // Igual que el ancho máximo del formulario
  margin: 0 auto 20px;     // Centrados horizontalmente con margen inferior
  text-align: center;
  padding: 10px;

  .header-title {
    font-size: 2.5em;      // Título más grande
    color: #0072C6;        // Azul, similar al logo de DirecTV
    font-weight: bold;
    margin-bottom: 10px;
  }

  .header-description {
    font-size: 1em;
    justify-content: center;
    color: #000;           // Texto en negro
    margin-bottom: 10px;
    text-align: justify;
  }

  .header-divider {
    border: none;
    height: 2px;
    background-color: #66AADD;  // Azul claro para la línea divisoria
    width: 100%;                // Igual al ancho del contenedor/formulario
    margin: 0 auto;
  }
}

/* Estilos generales del formulario */
.form-container {
  max-width: 650px;
  margin: 50px auto; /* Márgenes superior e inferior de 50px */
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}

/* Organización de los campos en una cuadrícula */
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 300px);  // Cada input tendrá 300px de ancho
  column-gap: 20px;                          // Separación horizontal de 20px
  row-gap: 20px;                             // Separación vertical de 20px
  justify-content: center;                    // Centrar la cuadrícula
}

/* Responsive: Una sola columna en pantallas pequeñas */
@media (max-width: 650px) {
  .form-grid {
    grid-template-columns: 300px;
  }
}

/* Estilo para los grupos de campos */
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
}

/* Estilo para el botón de envío */
.submit-button {
  background-color: #074b94;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 50px;  // Forma ovalada
  width: auto;
  min-width: 150px;
  transition: background-color 0.3s ease;
  margin-top: 20px;     // Separación superior de 20px respecto a los inputs
  &:hover {
    background-color: #053261;
  }
  &:active {
    background-color: rgb(177, 177, 177);
    color: #007bff;
  }
  &:disabled {
    background-color: #ccc; // Gris claro cuando está desactivado
    cursor: not-allowed;
  }
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
