<div class="fraudes-container">
  <a href="https://www.lov.com.co/directv/legales/fraude_en_portabilidad.pdf" target="_blank">
    <picture>
      <source media="(max-width: 900px)" srcset="/directv/images/FRAUDES_EN_PORTABILIDAD_V2_small.jpg">
      <img src="/directv/images/FRAUDES_EN_PORTABILIDAD_V2.jpg" alt="fraudes">
    </picture>
  </a>
</div>
<div class="quienes-somos">
    <h1 class="title">¿Quienes Somos?</h1>
    <hr class="divider">
    <p class="content">
      Somos una empresa comprometida con la innovación y la calidad en entretenimiento, comunicación y servicios. Nuestro equipo trabaja día a día para ofrecer soluciones que transformen la experiencia de nuestros clientes, siempre impulsados por la pasión por lo que hacemos.
    </p>
  </div>