<div class="fraudes-container">
  <a href="https://www.lov.com.co/directv/legales/fraude_en_portabilidad.pdf" target="_blank">
    <picture>
      <source media="(max-width: 900px)" srcset="/directv/images/FRAUDES_EN_PORTABILIDAD_V2_small.jpg">
      <img src="/directv/images/FRAUDES_EN_PORTABILIDAD_V2.jpg" alt="fraudes">
    </picture>
  </a>
</div>
<div class="quienes-somos">
  <h1 class="title">¿Quiénes Somos?</h1>
  <hr class="divider">
  <div class="quienes-somos-content">
    <p>
      DIRECTV es una de las compañías media tech líderes en entretenimiento y servicios de televisión de paga en América Latina y el Caribe. Además de ofrecer una amplia gama de opciones de entretenimiento, hemos expandido nuestros servicios para incluir conectividad, seguros, viajes y más. Recientemente, hemos incursionado en el mercado de <strong><u> telefonía móvil</u></strong> a través de una alianza estratégica con <strong> LOV Telecomunicaciones S.A.S.</strong>, quien operará este servicio bajo la marca <strong> DIRECTV</strong>, brindando soluciones integrales para nuestros clientes.
    </p>
    <p>
      Nuestra misión es <strong> conectar a las personas </strong> con el entretenimiento que aman, ofreciendo experiencias personalizadas y de alta calidad. A través de nuestra innovadora conectividad, llegamos a millones de hogares en la región, adaptándonos a las necesidades de cada cliente con opciones flexibles y servicios integrales.
    </p>
    <p>
      <strong> Servicios Principales: </strong> <br>
      • Televisión satelital con cientos de canales en HD y 4K. <br>
      • Plataformas de streaming como <strong> DIRECTV GO. </strong> <br>
      • Contenido exclusivo, incluyendo deportes, películas y series. <br>
      • Internet banda ancha. <br>
      • Telefonía móvil. <br>
      • Seguros. <br>
      • Viajes.
    </p>
    <p>
      En DIRECTV, no solo nos enfocamos en el entretenimiento y la tecnología, sino también en generar un impacto positivo en la sociedad. A través de iniciativas como Escuela+, promovemos la educación y la inclusión digital, contribuyendo a reducir la brecha tecnológica en la región.
    </p>
  </div>
</div>
